<div class="home__container">
  <app-card
  gameCover="assets/ac-cover.jpg"
  gameLabel= "Digital"
  gameType = "DIGITAL | PS4"
  gamePrice = "R$ 129,99"
  >
  </app-card>
  <app-card
  gameCover="assets/bt-1.jpg"
  gameLabel= "Best of Year"
  gameType = "Disc | PS5"
  gamePrice = "R$ 269,99"
  >
  </app-card>
  <app-card
  gameCover="assets/bt-4.jpg"
  gameLabel= "Exclusive"
  gameType = "Disc | PS5"
  gamePrice = "R$ 229,99"
  >
  </app-card>
  <app-card
  gameCover="assets/bt-hardline.jpg"
  gameLabel= "New"
  gameType = "Digital | PS3 PS4 PS5"
  gamePrice = "R$ 229,99"
  >
  </app-card>
  <app-card
  gameCover="assets/bt-5.jpg"
  gameLabel= "Fisic"
  gameType = "Disc | PS5"
  gamePrice = "R$ 299,99"
  >
  </app-card>
  <app-card
  gameCover="assets/bt-bad-company-2.jpg"
  gameLabel= "Exclusive"
  gameType = "Disc | PS4"
  gamePrice = "R$ 199,99"
  >
  </app-card>
</div>
